
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body
{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: rgba(67, 67, 67, 1);
    color: rgb(255, 255, 255);
}

.header
{
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #333;
    padding: 10px 0;
    /*text-align: center;*/
    color: white;
    justify-content: space-between;
}

.header img
{
    height: 50px;
    vertical-align: middle;
}

.header nav
{
    display: inline-block;
}

.header nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

/*nav*/
.navbar {
    background-color: #333;
    overflow: hidden;
    justify-content: flex-end;
}

.nav-links
{
    list-style-type: none;
    text-align: right;
    margin-left: 20px;
    margin-right: 20px;
    margin: 0;
    padding: 0 20px;
}

.nav-links li
{
    display: inline-block;

}

.nav-links a:hover {
    /*background-color: #ddd;*/
    color: rgb(177, 177, 177);
}

/* Icône de menu */
.menu-icon {
    display: none;
    font-size: 30px;
    color: white;
    /*padding: 14px 20px;*/
    cursor: pointer;
}

/* Styles pour écrans étroits */
@media screen and (max-width: 800px) {
    .nav-links {
        position: fixed;
    	top: 90px;
    	left: -180px;
        right: -270;
		bottom: 0;
        display: block;
		margin-left: 0;
		margin-right: 0;
		padding: 0;
		transition: transform .25s ease-in-out;
    	transition-behavior: normal;
    	transition-duration: 0.25s;
    	transition-timing-function: ease-in-out;
    	transition-delay: 0s;
    	transition-property: transform;
        background-color: rgb(26, 26, 26);
    }

    .nav-links li {
        display: flex;
		padding: 20px;
		border-bottom: 1px solid #131313;
    }

    .menu-icon {
        display: block;
        position: absolute;
        padding: 20px;
        top: 0;
        bottom: 0;
        left: 0;
    }

    .header
    {
        justify-content: center;
    }
}

/* Styles pour afficher le menu lorsqu'il est actif */
.nav-links.active
{
    transform: translateX(180px);
}
/*/nav*/

#header
{
    background-color: rgba(67, 67, 67, 1);
    position: fixed;
    left: 0;
    right: 0;
}

.nav-sit-header {
    display: flex; /* Utilise flexbox pour aligner les éléments */
    align-items: center; /* Centre verticalement les éléments */
    padding: 10px 20px;
}

/* Style de l'image */
.nav-sit-header img {
    max-height: 50px; /* Ajuste la taille de l'image si nécessaire */
    margin-right: 10px; /* Espace entre l'image et le texte */
}

/* Style du titre */
.nav-sit-header h1 {
    margin: 0; /* Supprime la marge par défaut */
    font-size: 24px; /* Taille du texte du titre */
}

#test
{
    background-color: rgb(190, 181, 162);
    color: rgb(0, 0, 0);
    align-content: center;
}

kbd.key
{
    border-radius: 3px;
    padding: 1px 2px 0;
    border: 1px solid rgb(0, 0, 0);
}

.main-content
{
    flex: 1;
}

#topBtn
{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99; 
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    width: 10%
}

footer
{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
}


