h1
{
    color: rgb(146, 27, 27);
}

body
{
    background-color: rgb(28, 28, 54);
}

#test
{
    width: 800px;
    margin:0 auto;
    background-color: slategrey;
    text-align: center;
    align-content: center;
}

kbd.key {
    border-radius: 3px;
    padding: 1px 2px 0;
    border: 1px solid rgb(0, 0, 0);
  }